#heading {
    margin: 1vh;
    margin-left: 2vh;
    color: white;
    font-size: 4vh;
    font-weight: 200;
    word-spacing: 2;
    
.top {
    background-color: rgb(51, 153, 203);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
}
